  @page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="max-w-md mx-auto prose prose-sm">
  <div class="flex flex-col items-center">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="text-center p-6" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn">Click here to Logout</button>
            </form>
        }
        else
        {
          <p>You have successfully logged out of the application.</p>
        }
    }
  </div>
</div>