@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="max-w-md mx-auto prose prose-sm">
  <div class="flex flex-col items-center">
    <h4>@ViewData["Title"]</h4>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
  </div>
  <form id="email-form" method="post" class="grid grid-cols-1 gap-4">
        @if (Model.IsEmailConfirmed)
        {
            <div class="block">
              <label asp-for="Email"></label>
                <input asp-for="Email" class="input" disabled />
                <div class="input-group-append">
                    <span class="input-group-text text-success font-weight-bold">✓</span>
                </div>
            </div>
        }
          else
        {
          <div class="block">
            <input asp-for="Email" class="input" disabled />
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn">Send verification email</button>
          </div>
        }
      <div class="block">
          <label asp-for="Input.NewEmail"></label>
          <input asp-for="Input.NewEmail" class="input" />
          <span asp-validation-for="Input.NewEmail" class="text-red-700"></span>
      </div>
      <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn">Change email</button>
      <div asp-validation-summary="All" class="text-red-700"></div>
  </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
