@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<div class="max-w-md mx-auto prose prose-sm">
  <div class="flex flex-col items-center">
    <h4>@ViewData["Title"]</h4>
  </div>
  <partial name="_StatusMessage" model="Model.StatusMessage" />
  <form id="profile-form" method="post" class="grid grid-cols-1 gap-4">
      <div asp-validation-summary="ModelOnly" class="text-red-700"></div>
      <div class="block">
          <label asp-for="Username"></label>
          <input asp-for="Username" class="input" disabled />
      </div>
      <div class="block">
          <label asp-for="Input.PhoneNumber"></label>
          <input asp-for="Input.PhoneNumber" class="input" />
          <span asp-validation-for="Input.PhoneNumber" class="text-red-700"></span>
      </div>
      <button id="update-profile-button" type="submit" class="btn">Save</button>
  </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}