@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<div class="max-w-md mx-auto">
    <div class="grid grid-cols-1 gap-4">
      <div class="prose prose-sm mt-5">
        <h4 class="text-center">@ViewData["Title"]</h4>
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
          <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
      </div>
      <form id="download-data" asp-page="DownloadPersonalData" method="post">
          <button class="btn min-w-full" type="submit">Download</button>
      </form>
      <a id="delete" asp-page="DeletePersonalData" class="btn text-white text-center">Delete</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
