@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgoraSocialApp</title>
    <link rel="stylesheet" href="~/Identity/css/site.css" />
</head>
<body>
    <header class="fixed w-full h-12 bg-white">
        <nav class="container mx-auto sm:flex justify-between items-center">
            <a href="/">
              <img class="h-12" src="/images/logo.png" alt="Agora Logo" />
            </a>
            <ul class="sm:self-center">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success)
                    {
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    else
                    {
                        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                    }
            </ul>
        </nav>
    </header>

    <main class="container mx-auto pt-12 pb-6">
        @RenderBody()
    </main>
    <footer class="container mx-auto prose prose-sm">
        <p class="text-center">
            &copy; 2021 - Agora - <a asp-area="" asp-page="Privacy">Privacy</a>
        </p>
    </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
