@using Microsoft.AspNetCore.Identity
@using AgoraSocialApp.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string returnUrl = null;
    var query = ViewContext.HttpContext.Request.Query;
    if (query.ContainsKey("returnUrl"))
    {
        returnUrl = query["returnUrl"];
    }
}

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="sm:inline-block">
            <a class="text-purple-700 hover:text-purple-500 p-4" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
        </li>
        <li class="sm:inline-block">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button type="submit" class="text-purple-700 hover:text-purple-500">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="sm:inline-block">
            <a class="text-purple-700 hover:text-purple-500 p-4" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">Register</a>
        </li>
        <li class="sm:inline-block">
            <a class="text-purple-700 hover:text-purple-500" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">Login</a>
        </li>
    }
